name: Validate against NTSB PROD on push to DEV
'on':
  workflow_dispatch:
  push:
    branches:
      - Dev
    paths:
      - force-app/**
jobs:
  Validate-to-NTSBPROD-environment:
    runs-on: ubuntu-latest
    environment: NTSBPROD
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Checkout source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Install Salesforce CLI
        run: npm install @salesforce/cli --global
      - name: Install sfdx-git-delta
        run: |
          echo Y | sfdx plugins:install sfdx-git-delta
          sfdx plugins
      - name: Create delta packages
        run: |
          mkdir changed-sources
          sf sgd source delta \
            --to "HEAD" \
            --from "HEAD~1" \
            --output changed-sources/ \
            --generate-delta \
            --source force-app/
          echo "[INFO] Delta package generated"
      - name: Authenticate to NTSB PROD org
        run: |
          echo "${{ secrets.NTSBPOC_SERVER_KEY }}" > server.key
          sf org login jwt \
            --username ${{ secrets.NTSBPOC_USER_NAME }} \
            --jwt-key-file server.key \
            --client-id ${{ secrets.NTSBPOC_CONSUMER_KEY }} \
            --instance-url ${{ vars.NTSBPOC_URL }} \
            --set-default
      - name: Validate deployment in PROD (Check-Only)
        run: |
          sf project deploy start \
            --source-dir changed-sources/force-app \
            --test-level RunLocalTests \
            --dry-run
            echo "[INFO] Deployment validation (check-only) completed"
